html {
    background-color: #dfe2e8;
}

body {
    background-color: #fff;
    font-size: 1.8em;
    line-height: 1.6em;
    font-family: 'Libre Baskerville', serif;
    z-index: -2;
}

body a,
body a:visited {
    color: #1160b7;
}

body a:hover,
body a:active {
    color: #d24726;
}

::selection {
    background: #b1d6f0;
}

::-moz-selection {
    background: #b1d6f0;
}

p {
    margin: 0 0 1.2em;
}

h1, h2, h3, h4, h5, h5 {
    line-height: 1.4em;
}

/*
http://www.color-hex.com/color-palette/29680
#002050 (0,32,80)
#dfe2e8 (223,226,232)
#1160b7 (17,96,183)
#b1d6f0 (177,214,240)
#d24726 (210,71,38)
*/

h1.site-title a {
    color: #d24726;
    z-index: 1;
}

h1.site-title {
    position: relative;
    font-family: 'Sigmar One', sans-serif;
    font-size: 100px;
    line-height: 1.2em;
    margin: 0.2em 0 0.1em;
    -moz-text-shadow:    -0.05em -0.05em 0 #b1d6f0;
    -webkit-text-shadow: -0.05em -0.05em 0 #b1d6f0;
    text-shadow:         -0.05em -0.05em 0 #b1d6f0;
    z-index: 2;
}

h1.site-title span {
    color: #dfe2e8;
    position: absolute;
    top: -0.1em;
    left: -0.1em;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    text-shadow: none;
    z-index: -1;
}

h1.site-title a:hover {
    text-decoration: none;
}

.side-content {
    font-size: 1em;
}

.star {
    color: #d24726;
}

.rule {
    margin-top: 2em;
    padding-bottom: 2em;
    border-top: 0.2em solid #FF4E50;
}

.job {
    margin-bottom: 1.6em;
}

.skill-description {
    margin-top: 1.4em;
}

.job-title {
    margin-bottom: 0.8em;
}

@media (min-width: 992px) {
    .job-title {
        text-align: right;
    }
}

.footer {
    color: #666;
    background-color: #dfe2e8;
    margin-top: 2em;
    padding-top: 1.6em;
    padding-bottom: 1.6em;
    font-size: 0.8em;
}
