<!DOCTYPE html>
<html>
<head>
    <title>Sean Conaty &ndash; {{ page.title }}</title>
    <meta name="description" content="Online presence of Sean Conaty" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
</head>
<body>
<div id="page">
    <div id="header">
        <h1>Sean Conaty</h1>
    </div><!-- #header -->
    <div id="content">
        {{ content }}
    </div><!-- #content -->
    <p>
        <a href="http://github.com/seanconaty" target="_blank">github</a> #
        <a href="http://twitter.com/seanconaty" target="_blank">twitter</a> #
        <a href="http://facebook.com/seanconaty" target="_blank">facebook</a> #
        <a href="http://linkedin.com/in/seanconaty" target="_blank">linkedin</a> #
        <a href="http://stackoverflow.com/users/649348/s">stack overflow</a>
    </p>
</div><!-- #page -->
</body>
</html>
